:root {
  /* multi-select days off menu variables */
  --multiselect-height: 30px;
  --item-padding-leftright: 5px;
  --item-background-color: #FFFFFF;
  --font-family: 'Roboto', sans-serif;
}
body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: #f8f8ff;
}
h1 {
  font-size: 1.8rem;
}
.start-date {
  margin-top: 30px;
}
.start-date__input {
  font-size: 1rem;
}
.rdo-heading {
  margin-top: 30px;
}
/* start days off multi-select component styles */
.multi-select {
  display: flex;
  height: var(--multiselect-height);
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--item-background-color);
}
.multi-select__item {
  /* container */
  height: var(--multiselect-height);
  width: auto;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-right: 1px solid grey;
}
.multi-select__item:last-child {
  /* remove right border on last child
  to prevent double up with container border */
  border: none;
}
.item__checkbox {
  /* make default input see through */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: none;
  user-select: none;
}
.item__checkbox:checked + .item__label {
  /* font-weight: bold; */
  background-color: #e6e6e6;
  color: #0077EE;
}
.item__label {
  display: block;
  height: 100%;
  padding: 0 var(--item-padding-leftright);
  box-sizing: border-box;
  /* matching line height to height for center center day labels */
  line-height: var(--multiselect-height);
  text-align: center;
  /* prevent label text from being hightlighted */
  user-select: none;
}
.schedule {
  margin-top: 10px;
}
/* end days off multi select component styles */
.schedule__buttons {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #FFFFFF;
}
.schedule-button {
  color: #FFFFFF;
  background-color: #0077EE;
  border: 1px solid #0077EE;
}
.schedule__label {
  display: none;
}
.schedule__textarea {
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}
.clear-button {
  color: #FFFFFF;
  font-weight: 800;
  background-color: #ff2929;
  border: 1px solid #ff2929;
}

/* tablet and desktop styles */
@media only screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scheduler-component {
    max-width: 350px;
  }
  .schedule__textarea {
    height: 350px;
  }
}